p Prezado(a),
br
p Informamos que, conforme abordado nos Termos e Condições de Uso (#[a(href="https://gerencianet.com.br/termos-de-uso/", target="_blank") #[b Contrato]]), a Gerencianet monitora constantemente seus clientes e suas transações. Assim, durante as análises de rotina, não identificamos o seu ramo de negócio e/ou sua atividade comercial.
br
p Desta forma, visando o cumprimento do referido contrato de prestação de serviços, em especial dos Itens 7.1, 7.1.4 e 7.2.1, que tratam das responsabilidades do usuário, solicitamos que:
br
p - O Sr.(ª) descreva a finalidade de utilização da conta digital, bem como a sua atividade comercial.
br
p - Encaminhe documentos que comprovem a atividade descrita. Para verificar os documentos aceitos, #[a(href="https://gerencianet.com.br/artigo/quais-documentos-posso-utilizar-para-comprovar-informacoes-na-gerencianet/", target="_blank") clique aqui].
br
p Após o envio das informações e da documentação solicitadas acima, entraremos em contato em até 5 (cinco) dias úteis.
br
p #[b Importante!]
br
p Durante a análise, bloqueios operacionais foram aplicados na sua conta digital. Caso não tenhamos seu retorno em até 30 (trinta) dias corridos, a sua conta digital entrará em processo de encerramento.
br
p Qualquer dúvida estamos à disposição.
br
p Atenciosamente,
br
p -----
br
p Departamento de Operações - Equipe de Análises
br
p #[a(href="https://gerencianet.com.br/", target="_blank") gerencianet.com.br] | 1ª Região - Brasil
