extends skeleton.pug

block content
    tr
      td(class='empty-column' style='height: 25px;' width='25')
      td
        table(
          cellspacing='0' cellpading='0'
          style='font-family: Arial,Geneva,sans-serif; border-collapse: collapse; font-size: 14px; line-height: 18px;'
        )
          tbody
            tr
              td(class='paragraph greeting' style='padding-top: 14px; padding-bottom: 60px')
                p Você já pode solicitar seu Cartão Pré-Pago Gerencianet. Para solicitá-lo e recebê-lo em sua casa, basta seguir os passos abaixo:
                ul
                  li Acesse o menu #[i Meu Cartão], disponível em sua conta;
                  li Clique no botão #[i Solicite Agora Mesmo];
                  li Informe o endereço de entrega do cartão;
                  li Digite a assinatura eletrônica.
                p Pronto! A tarifa de emissão do cartão é de R$9,90 e o prazo de entrega é de até 15 dias úteis.
                p #[b Fique atento] no momento de informar o endereço. Caso não seja possível realizar a entrega após 3 tentativas, o cartão é cancelado. Se isso acontecer, será necessário realizar uma nova solicitação.
                p Quando seu cartão chegar, tire uma foto bem criativa e publique nas redes sociais com a hashtag #[i #cartaogerencianet] para acompanharmos este momento com você.
                p Para saber mais sobre a utilização do cartão Gerencianet, acesse nossa #[a(href='https://gerencianet.com.br/central-de-ajuda/cartao-pre-pago/') Central de Ajuda].

      td(class='empty-column' style='height: 25px;' width='25')
