extends skeleton.pug

block content
    tr
      td(class='empty-column' style='height: 25px;' width='25')
      td
        table(
          cellspacing='0' cellpading='0'
          style='font-family: Arial,Geneva,sans-serif; border-collapse: collapse; font-size: 14px; line-height: 18px;'
        )
          tbody
            tr
              td(class='paragraph greeting' style='padding-top: 14px')
                | Por medidas de segurança, seu cartão Gerencianet foi bloqueado temporariamente.
                | Para saber como desbloqueá-lo, clique no botão abaixo para enviar um ticket para nossa equipe.

            tr
              td(class='paragraph greeting' style='padding-top: 30px; padding-bottom: 60px')
                a(
                  href="https://gerencianet.com.br/fale-conosco/"
                  style='width: 141px; font-size: 1.1em; background: #f37021; border: 1px solid #f37021; box-shadow: 2px 2px 6px rgba(0,0,0,.15); padding: 9px 11px; font-family: "Bebas Neue Regular","Trebuchet MS",Helvetica,sans-serif; text-align: center; color: #fff; display: inline-block; vertical-align: middle; text-decoration: none;'
                ) CRIAR TICKET


      td(class='empty-column' style='height: 25px;' width='25')



